html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

/* NAV */

nav {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00d4ff;
}

.logo {
  font-weight: bold;
  letter-spacing: 1px;
}

/* SECTIONS */

section {
  min-height: 100vh;
  padding: 60px 40px;
  background: white;
  margin: 20px;
  border-radius: 12px;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(135deg, #1f2933, #111827);
  color: white;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

/* BUTTON */

.btn {
  margin-top: 20px;
  padding: 12px 20px;
  background: #00d4ff;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #eef2f7;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  margin: 10px 0 5px;
}
.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* FOOTER */

<footer>
  <p>MGeko Demo Project</p>
  <p>
    <a href="#home">Top</a> |
    <a href="#about">About</a> |
    <a href="#deploy">Deployment</a>
  </p>
</footer>
